<nav
	class="navbar navbar-expand-lg navbar-light bg-light">

	{# {% if page.branding %} #}
	{{ page.branding }}
	{# {% endif %} #}

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">

		{% if page.primary_menu %}
			{{ page.primary_menu }}
		{% endif %}

		{% if page.secondary_menu %}
			{{ page.secondary_menu }}
		{% endif %}
	</div>
</nav>