{#
/**
 * @file
 */
#}

<div class="flexslider_modulo">
  	<ul class="slides">
    	<li>
      		<img src="https://via.placeholder.com/300x200" />
   	 	</li>
    	<li>
      		<img src="https://via.placeholder.com/300x200" />
    	</li>
    	<li>
      		<img src="https://via.placeholder.com/300x200" />
    	</li>
    	<li>
      		<img src="https://via.placeholder.com/300x200" />
    	</li>
  	</ul>
</div>
